.game-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 25%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #698AFD;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
